.App{
  background-color: #1D1D1D;
  color: #95a2b3;
}
.btnYellow {
  background: #ffcc00;
  padding: 8px 20px;
  color: #12141d;
  text-decoration: none;
  border: none;
  outline: none;
  border-radius: 5px;
  letter-spacing: 2px;
  transition-duration: 1s;
}
.btnYellow:hover {
  background: linear-gradient(to right, #ffcc00 0%, #ffff00 100%);
  transition-duration: 1s;
}
.globalContainer{
  margin-left: 270px;
  padding-top: 75px;
}
/* NAVBAR */
.navbar{
  position: fixed !important;
  width: 100%;
  height: 75px;
}
.navbar-nav{
  min-width: 50%;
  justify-content: space-around;
}
.navbar-brand img{
  height: 75px;
}
.navbar-collapse{
  display: none;
}
.navbar-toggler{
  margin-left: auto;
}

/* BOTTOM NAVBAR */
.bottomNav {
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  background-color:#441C72;
  position: fixed;
  z-index: 100;
  width: 100%;
  bottom: 0;
}
.bottomNav #mob-link {
  text-decoration: none;
  color: #fff;
}
.bottomNav button {
  color: #fff;
  font-size: 10px;
}
.bottomNav button:hover {
  color: #fff;
}

/* SIDEBAR SLIDER */
.pro-sidebar{
  height: 100vh;
  z-index: 5 !important;
  border-right: 1px solid #555555;
  position: fixed !important;
}
.pro-sidebar-inner .pro-sidebar-layout .active {
  background: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}
.pro-sidebar-header{
  padding-bottom: 25px;
}
#pro-sidebar-brand{
  margin-left: 25px;
}
#pro-sidebar-brand img{
  width: 225px;
}
.pro-sidebar-content button{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #fff;
  text-align: end;
  position: absolute;
  right: 0;
  top: 40px;
}
.pro-sidebar-inner{
  padding: 25px 0px;
}
.pro-sidebar-social{
  width: 100%;
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
}
.pro-sidebar-footer a{
  color: #ADADAD;
}
.pro-sidebar-footer a:hover{
  color: #ffcc00;
}
#pro-sidebar-burger{
  display: none;
}
.globalCont{
  width: 100%;
  margin-left: 270px;
}
.pro-menu .active #pro-sidebar-link{
  color: #000;
  font-weight: 500;
}

/* ALL PROJECTS */
.allProjects{
  margin: auto;
  min-height: 100vh;
  max-width: 1150px;
}
.allProjects .row .card{
  transition-duration: 0.25s;
  background-color: #292B33;
}
.allProjects .row .card h5{
  color: #FFCC00;
}
.allProjects .row .card:hover{
  transform: scale(1.01);
  transition-duration: 0.25s;
}

/* PROJECT DETAILS */
.projectDetails{
  margin: auto;
  min-height: 100vh;
  max-width: 1150px;
}
.projectDetails .table th{
  color: #FFCC00;
}
.projectDetails .table td{
  color: #d8d8d8;
}

/* ASSIGNED */
.assignedContainer{
  min-height: 100vh;
  margin: auto;
  max-width: 1150px;
}

/* POST NEW */
.postContainer{
  min-height: 100vh;
  max-width: 1150px;
  margin: auto;
}

/* Assigned Modal */
.modal-content{
  background-color: #292B33 !important;
}
.modal-header .btn-close{
  filter: invert(1);
}
.modal-title{
  color: #fff;
}
.modal-body .form-label{
  color: #fff;
}

/* CHECKPOINTS */
.css-16u30nb-TimelineControlContainer{
  display: none !important;
}
.css-11ob3u4-Outline{
  background-color: #441C72 !important;
}
.timeline-circle{
  background-color: #441C72 !important;
}
.timeline-card-content{
  background-color: #292B33 !important;
}
.css-4reink-TimelineCardTitle{
  color: #fff !important;
}
.dummyInterest .card{
  background-color: #292B33;
}