.App{
  background-color: #12141E;
}

/* NAVBAR */
.navbar-nav{
  min-width: 50%;
  justify-content: space-around;
}
.navbar-brand img{
  max-height: 75px;
}

/* SIDEBAR SLIDER */
.pro-sidebar{
  min-height: 100vh !important;
  position: fixed !important;
}
.pro-sidebar-inner .pro-sidebar-layout .active {
  background: linear-gradient(0deg, #fece00 0%, #ffe172 100%);
}
.pro-sidebar-header{
  padding-bottom: 25px;
}
#pro-sidebar-brand{
  margin-left: 25px;
}
#pro-sidebar-brand img{
  width: 225px;
}
.pro-sidebar-content button{
  background-color: transparent;
  border: none;
  border-radius: 50%;
  color: #fff;
  text-align: end;
  position: absolute;
  right: 0;
  top: 40px;
}
.pro-sidebar-inner{
  padding: 25px 0px;
}
.pro-sidebar-social{
  width: 100%;
  display: flex;
  font-size: 25px;
  justify-content: space-evenly;
}
.pro-sidebar-footer a{
  color: #ADADAD;
}
.pro-sidebar-footer a:hover{
  color: #ffcc00;
}
#pro-sidebar-burger{
  display: none;
}
.globalCont{
  width: 100%;
  margin-left: 270px;
}
.pro-menu .active #pro-sidebar-link{
  color: #000;
  font-weight: 500;
}