body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media only screen and (max-width: 769px) {

  .globalContainer{
    margin-left: 0px !important;
    padding-top: 25px !important;
  }
  #pro-sidebar-burger{
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: transparent;
    border: none;
    color: #fff;
    display: block !important;
  }
  .pro-sidebar.collapsed{
    width: 0px !important;
    min-width: 0px !important;
  }
  .pro-sidebar-layout{
    padding-bottom: 75px;
  }  
}